* {
    margin: 0;
    padding: 0;
}
.black-top {
    background-color: black;
    position: fixed;
    width: 100vw;
    height: calc((100vh - 56.2vw) * 0.5);
    top: 0;
}
.black-bottom {
    background-color: black;
    position: fixed;
    width: 100vw;
    height: calc((100vh - 56.2vw) * 0.5);
    bottom: 0;
}

       .header {
    position: fixed;
    background-color: black;
    height: 50px;
    width: 90%;
    top: 0;
        font-family: 'Dongle', sans-serif;
		font-weight: 400;
		font-style: normal;
        color: aliceblue;
        font-size: 18px;
    display: flex;
    align-items: center;
    text-indent: 50px;
    left: 50%;
    transform: translate( -50%, 0);
}
.footer {
    position: fixed;
    background-color: black;
    height: 50px;
    width: 90%;
    bottom: 0;
    left: 50%;
    transform: translate( -50%, 0);
}
a {
    text-decoration: none;
    color: inherit;
}
        #container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 500vh; /* 여러 동그라미를 담을 수 있도록 스크롤 가능한 높이 설정 */
        }

.circle {
            border-radius: 50%;
            margin: 10px;
            transition: width 0.5s, height 0.5s;
            position: fixed;
            top: 50%;
            left: 70%;
            transform: translate(-50%, -50%);
            background-color: white;
            border: black solid 1px;
            transform-origin: center center; /* 중심을 기준으로 크기 조절 */
            overflow: hidden;
            width: 200px;
            height: 200px;
        }

#circle5 {
    display: flex;
    align-items: center;
}
.sky-tunnel {
    position: relative;
    width: 130vw;
    left: 50%;
    transform: translate(-50%, 0);
    filter: blur(2px) brightness(180%);
}
.lawn-tunnel {
    position: relative;
    width: 130vw;
    left: 50%;
    top: -20vw;
    transform: translate(-50%, 0);
    filter: blur(2px) brightness(180%);
}

.iframecontainer {
    position: fixed;
    width: 480px;
    height: 240px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border: black solid 1px;

    bottom: 4%;
    right: 5%;
    z-index: 3;
}

.hint {
    position: absolute;
    font-family: 'Dongle', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    font-size: 18px;
    text-align: center;
    top: 25%;
    left: 40%;
}

.swing-tunnel {
    position: fixed;
    top: 100px;
    left: 40vw;
    transform: translate(-50%, -50%);
}
.swing-tunnel-click {
    position: fixed;
    top: 550px;
    left: 40vw;
    transform: translate(-50%, -50%);

    width: 309px;
    height: 125px;
    background-color: black;
    opacity: 0%;
    filter: blur(3vw);
    border-radius: 50%;
}
a:hover {
    opacity: 30%;
}